<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="HandheldFriendly" content="true">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Muli&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="<%= BASE_URL %>stylesheet.css">
    <title>AgriTheory</title>
  </head>
  <main>
    <noscript>
      <strong>We're sorry but agritheory.com doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div>
  <h2>PRIVACY POLICY</h2>
  <p>
  This privacy policy discloses the privacy practices for <b>agritheory.com</b> and its sub-domains. This privacy notice applies solely to information collected by this website. It will notify you of the following:</p>
  <ul>
  <li>What personally identifiable information is collected from you through the website, how it is used, and with whom it may be shared.
  <li>What choices are available to you regarding the use of your data.
  <li>The security procedures in place to protect the misuse of your information.
  <li>How you can correct any inaccuracies in the information.
  </ul>
  <p>If you are a customer of AgriTheory an executed agreement exists that supersedes this Privacy Notice. If you would like to become a customer or request such an agreement for review please contact us. In short, we believe that your data belongs to you, but the data we collect when you visit this website belongs to us.</p>

  <h3>Information Collection, Use, and Sharing</h3>
  <p>We are the sole owners of the information collected on this site. We only have access to/collect information that you voluntarily give us via email or other direct contact from you. We will not sell or rent this information to anyone.
  We will use your information to respond to you regarding the reason you contacted us. We will not share your information with any third party outside of our organization other than as necessary to fulfill your request, e.g. to ship an order.
  Unless you ask us not to, we may contact you via email in the future to tell you about our business, things we find interesting, or changes to this privacy policy.</p>

  <h3>Your Access To and Control Over Information</h3>
  <p>You may opt out of any future contacts from us at any time. You can do the following at any time by contacting us via the email address or phone number given on our website: see what data we have about you, if any.</p>
  <ul>
  <li>Change/correct any data we have about you.
  <li>Have us delete any data we have about you.
  <li>Express any concern you have about our use of your data.
  </ul>

  <h3>Security</h3>
  <p>We take precautions to protect your information. When you submit sensitive information via the website your information is protected both online and offline.</p>
  <p>Wherever we collect sensitive information (such as credit card data) that information is encrypted and transmitted to us in a secure way. You can verify this by looking for a lock icon in the address bar and looking for "https" at the beginning of the address of the web page.</p>
  <p>While we use encryption to protect sensitive information transmitted online we also protect your information offline. Only employees who need the information to perform a specific job (for example billing or customer service) are granted access to personally identifiable information. The computers/servers in which we store personally identifiable information are kept in a secure environment.</p>
  <p>If you feel that we are not abiding by this privacy policy you should contact us immediately.</p>
  </main
