<template>
  <div id="app" >
    <Wordmark v-show="!showPrivacy || !showContact"/>
    <HexContainer
      :cols="cols"
      :rows="rows"
      :hex-radius=120
      :popup-scale=3.3
      :stroke-width=0
      stroke-color='843c03'
      :hex-opacity=0.8
      :hex-opacity-selected=0.7
      :hex-opacity-back=0.7
      :flip-columns=true
      ref="hexContainer"
      >
      <Hex>
        <div slot="hex-title"><h4>I need better data about my business</h4></div>
        <div slot="hex-body">We specialize in what to measure in agriculture: labor, weather, markets and your own historic records. You know your business better than anybody else; we want to help you know it better than that. </div>
      </Hex>
      <Hex>
        <div slot="hex-title"><h4>My business is outgrowing my current accounting software</h4></div>
        <div slot="hex-body">Business needs change over time. Among those changes is often a shift to tracking not just the "how much" in accounting, but also the "stuff". Some of the leading accounting softwares pay only lip service to Inventory Management in multiple Units of Measure. ERPNext, our software of choice, is built from the ground-up as an inventory management software. You can access all your data at once, so you don't have to export to spreadsheets to do analysis.</div>
      </Hex>
      <Hex>
        <div slot="hex-title"><h4>I need a cash flow budget that works</h4></div>
        <div slot="hex-body">Cash flow budgeting is what separates successful businesses from "good ideas". They offer insight into your problems before they arise, years or months in the future. Constructing meaningful budgets is something we are passionate about because they offer something no other document can: a plan to succeed, written in numbers.</div>
      </Hex>
      <Hex>
        <div slot="hex-title"><h4>I need better inventory tracking and data</h4></div>
        <div slot="hex-body">The currently popular options in the marketplace addressing small business inventory don't integrate with your accounting software or are crudely bolted on to your existing software. Maybe it's just a spreadsheet or a sheet of paper on a clipboard or "I'll know when I run out". It doesn't have to be this way. You can get quality data that correctly propagates to your accounting, sales and/or manufacturing departments in real time.</div>
      </Hex>
      <Hex>
        <div slot="hex-title"><img src="/aticonrust.svg"/></div>
        <div slot="hex-body">AgriTheory is a consultancy at the intersection of agriculture and technology. We believe that entrepreneurs don't deserve to work with clunky, single-source, outdated software to run and analyze their business.<br>
          <br>
        <a @click="showContact = true">Contact Us</a>
      </div>
      </Hex>
      <Hex>
        <div slot="hex-title"><h4>I am planning a business expansion</h4></div>
        <div slot="hex-body">Thinking about growing your business? Taking over the farm business next door? We can help you assess market opportunities and help define what’s within reach.</div>
      </Hex>
      <div @click="showCustomers = true;">
      <Hex @click="toggleSelected">
          <div slot="hex-title">
            <a ><img src="/img/axe.png" class="hex-image"/></a>
          </div>
        <div slot="hex-body"></div>
      </Hex>
      </div>
      <Hex>
        <div slot="hex-title"><h4>I want help with ERPNext</h4></div>
        <div slot="hex-body">You've come to the right place. AgriTheory is one of the leading providers of ERPNext services, customization and development in the United States, regardless of industry.</div>
      </Hex>
      <Hex>
        <div slot="hex-title"><h4>Privacy Policy</h4></div>
        <div slot="hex-body"><p>We take your privacy and your data very seriously.</p>
          <p>Read our privacy policy <a @click="showPrivacy = true">here</a>.</p>
        </div>
      </Hex>
    </HexContainer>
    <transition name="modal-container-transition">
      <Privacy v-show="showPrivacy" @close="showPrivacy = false; unselectAll"/>
    </transition>
    <transition name="modal-container-transition">
      <Contact v-show="showContact" @close="showContact = false; unselectAll"/>
    </transition>
    <transition name="modal-container-transition">
      <Customers v-show="showCustomers" @close="showCustomers = false; unselectAll"/>
    </transition>
  </div>
</template>

<script>
import { Hex, HexContainer } from './components/Vue-Hexagon-Component'
import Wordmark from './Wordmark.vue'
import Privacy from './Privacy.vue'
import Contact from './Contact.vue'
import Customers from './Customers.vue'
export default {
  name: 'app',
  components: {
    HexContainer,
    Hex,
    Wordmark,
    Privacy,
    Contact,
    Customers
  },
  data() {
    return {
      showContact: false,
      showCustomers: false,
      showPrivacy: false,
      windowWidth: window.innerWidth,
      cols: 7,
      rows: 2,
    }
  },
  mounted() {
    window.addEventListener('resize', this.handleResize)
    this.handleResize();
  },
  methods: {
    handleResize() {
      this.windowWidth = window.innerWidth;
      if(this.windowWidth > 1400){
        this.cols = 7
        this.rows = 2
      } else if(this.windowWidth > 1000){
        this.cols = 3
        this.rows = 5
      } else {
        this.cols = 2
        this.rows = 7
      }
      this.$refs.hexContainer.resizeRender(this.cols, this.rows)
    }
  }
}
</script>

<style>
#app {
  font-family: 'Muli', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  position: relative;
  color: #2c3e50;
  margin-top: 200px;
}
</style>
