<template>
  <div class="logo-float">
    <img src="../public/atlogo_rust.svg" alt="agritheory"/>
  </div>
</template>
<script>
  export default {
    name: 'Wordmark',
    props: {}
  }
</script>
<style>
</style>
